<div class="panel panel-default">
<div class="panel-heading"><h1>Health Stopwatch</h1></div>
<a class="btn btn-default" href="/medicines/" role="button">View Medicine List</a>
<a class="btn btn-default" href="/stopwatches/" role="button">Stopwatches</a>
