<div class="panel panel-default">
<div class="panel-heading"><h1>Stopwatch</h1></div>
<a class="btn btn-default" href="/stopwatches/create" role="button">Create Stopwatch</a>
<a class="btn btn-default" href="/home/index" role="button">Back</a>
